html {
  background-color: #e2f6ff;
  font-family: sans-serif;
  color: #421703;

}

body {
  margin: 1rem auto;
  max-width: 48rem;
  background-color: #e2f6ff;
}

.content {
  margin: auto;
  max-width: 48rem;
  padding: 1rem 1rem 1.6rem;
  background-color: #ffffff;
  box-shadow: 0 0 1rem 0 #bbb;
  border-radius: 0 0 0.2rem 0.2rem;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.2rem;
}

/* nav styles */

nav {
  margin: 0;
  background-color: #53a5d4;  
}

.nav-links {
    margin-left: 0;
    display: block;
    width: auto;
    background-color: #53a5d4;
}

.nav-signature {
  display: inline-block;
  border-right: 2px solid #421703;
  padding: 0px 8px 0px 5px;
  text-align: left;
  letter-spacing: -1px;
  font-size: 1rem;
  font-weight: bold;
  color: #421703;
}

  .nav-links a {
  display: inline-block;
  padding: 10px 5px;
  text-align: left;
  text-decoration: none;
  font-size: 1.1rem;
  color: #421703;
}

.nav-links a:hover,
.nav-links a:focus {
  color: #fdb9b9;
  font-weight: bold;
}
