---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me"
---

<BaseLayout pageTitle={pageTitle}>

    <p> This is where i'm gonna tell you all about me</p>

</BaseLayout>