---
import BaseLayout from '../layouts/BaseLayout.astro';
import TodoList from '../components/TodoList.md';

const pageTitle= "Index";
---

<BaseLayout pageTitle={pageTitle}>

	<h2>Welcome to my blog</h2>

	<p> Under construction.</p><br>
	
	<TodoList />


	<p>this <br>is <br>long<br>text<br>to<br>test<br>my<br>css<br>...</p>

</BaseLayout>
