---
import BaseLayout from "./BaseLayout.astro"
const { frontmatter } = Astro.props;

import dayjs from "dayjs";


const universalDate = dayjs(frontmatter.pubDate)
    .format("MMMM D, YYYY");
---
<BaseLayout pageTitle={frontmatter.title}>
    <small>Written on {universalDate}</small> <br>

    <slot />

    <br><footer>
        <a href="/blog/">Back to all posts</a> <br><br>
    </footer>
</BaseLayout>