---
import BaseLayout from "./BaseLayout.astro"
const { frontmatter } = Astro.props;

import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";

dayjs.extend(utc);

const lastModified = dayjs()
  .utc(frontmatter.lastModified)
  .format("h:mma on DD MMMM YYYY");

const universalDate = dayjs(frontmatter.pubDate, "M-D-YYYY")
    .format("DD MMMM YYYY");
    // .utc().toISOString();
---
<BaseLayout pageTitle={frontmatter.title}>
    <small>Written on {universalDate}</small> <br>

    <slot />

    <br><footer>
        <a href="../">Back to all posts</a> <br><br>
        <small>Last updated at {lastModified} </small>
    </footer>
</BaseLayout>